body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Truncated_rhombic_dodecahedron.png/440px-Truncated_rhombic_dodecahedron.png');
    background-size: 30% auto;
    /* Заставляет изображение занимать часть экрана в % */
    background-position: left;
    /* Центрирует изображение */
    color: #5E6623;
    /* Цвет текста */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-repeat: no-repeat;
    /* Не повторять/повторять изображение */
    font-family: 'Arial', sans-serif;
    background-color: #caafe0;
    /* Светлый фон */
    color: #333;
    /* Темный текст */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

h1 {
    color: #e91e63;
    /* Ярко-розовый цвет заголовка */
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #e91e63;
    /* Розовая рамка */
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
    /* Ширина поля ввода */
    transition: border-color 0.3s;
    margin-bottom: 20px;
}

input[type="text"]:focus {
    border-color: #d81b60;
    /* Темно-розовая рамка при фокусе */
    outline: none;
    /* Убираем стандартное выделение */
}

button {
    padding: 10px 15px;
    background-color: #e91e63;
    /* Ярко-розовый цвет кнопки */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1226d5;
    /* Темно-розовый цвет кнопки при наведении */
}

#outputText {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #e91e63;
    /* Розовая рамка для вывода */
    border-radius: 5px;
    background-color: #fdfcfd;
    /* Белый фон для вывода */
    color: #333;
    /* Темный текст */
    width: 300px;
    /* Ширина блока вывода */
    display: inline-block;
    /* Блок для вывода */
}