body {
    font-family: "Arial", sans-serif;
    background-image: url("https://www.zastavki.com/pictures/originals/2021Nature___Flowers_Pink_flowers_delicate_lily_close_up_150031_.jpg");
    background-size: cover;
    /* Заставляет изображение занимать весь экран */
    background-position: center;
    /* Центрирует изображение */
    color: #faf8fa;
    /* Цвет текста */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-repeat: no-repeat;
    /* Не повторять изображение */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f33ed8;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ca84b8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input,
button {
    padding: 10px;
    margin: 10px 0;
    width: 95%;
    font-size: 16px;
    border-radius: 10px;
    border: 0px solid #ddd;
}

button {
    background-color: #984284;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #a04569;
}

p {
    font-size: 18px;
    color: #fdfdfb;
}